<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <script src="./index.js" defer></script>
    <title>Document</title>
</head>
<body>
    


    <form action="/file" method="post" enctype="multipart/form-data" class="main flex-center absolute-center"></form>
        <!-- <div class="input-and-button-container">
            <input type="text" class="file-inputs" id="file-input">
            <input type="file" name="file" class="input-test">
        </div> -->
        <label for="file-upload" name="file-upload" class="custom-file-upload-button">
            Your File here...
        </label>
        
        <input id="file-upload" type="file" name="file"/>


        <input type="text" class="file-inputs" id="filename-input">
        <button type="submit" class="default-button send-button" id="send-button">Send</button>
    </form>

</body>
</html>